[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
protobuf = "==3.20"
tensorflow = ">=1.15.2,<2.0"
ampligraph = "*"
betacal = "*"
jupyter = "*"
xarray = "*"
pandas = "*"
netcal = "*"

[dev-packages]

[requires]
python_version = "3.7"
